extends layout

block content
  a(href='https://github.com/markshope/public-private-key-demo')
    img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='Fork me on GitHub')
  .container
    h1 Blockchain Demo: Public / Private Keys &amp; Signing
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='')
    br
    p.pull-right by
      a(href='http://markshope.com/') Mark Shope
